
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Necrorol reglamento v{{version}}</title>
    <meta name="description" content="Nerorol reglamento v{{version}}">
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" media="print" href="gutenberg.css"/>

  </head>

  <body>
    <div class="container">
      <div class"row">
        <h1>Necrorol</h1>
        <h2>Reglamento v{{version}}</h2>
        <div class="col-6">
            <a href="necrorol.v{{version}}.html">HTML</a>
          </div>
          <div class="col-6">
              <a href="necrorol.v{{version}}.pdf">PDF</a>
            </div>
      </div>
    </div>
  </body>
</html>